# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pdb
db.sqlite3
*.egg-info/
dist/
build/

# Node
node_modules/
frontend/build/

# Environment
.env
*.env

# OS
.DS_Store
Thumbs.db

# Large ML files
*.pkl
*.joblib
